<%= simple_form_for @pet, input_html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: { value: @author_id } %>
  </div>
<input class="w-input-clean fieldstyle1" type="text" placeholder="Qual o nome do seu pet? " name="field" required="required"></input>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
