<div class="container">


<%= @petrand.name %> <%= link_to 'Update Thingy', battle_like_path, :confirm => 'You sure you wanna update?', :remote => true %><strong>x</strong> <%= @petrand2.name %>
</div>