<%= render layout: 'form' do |f| %>
 <h1>Tell us a little about yourself.</h1>
<%= f.input :user_id, as: :hidden, input_html: { value: @author_id } %>
<%= f.input :gender, label: false, input_html:  { class: 'w-input-clean fieldstyle1'}  %>
<% end %>