<!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
   <div class="user-info-wrapper">  
  <div class="profile-wrapper">
    <img src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
  </div>
    <div class="user-info">
      <div class="greeting">Bem Vindo</div>
      <div class="username">John <span class="semi-bold">Silva</span></div>
      <div class="status">Fazer Logout</div>
    </div>
   </div>
  <!-- END MINI-PROFILE -->
  
  <!-- BEGIN MINI-WIGETS -->

   <!-- END MINI-WIGETS -->
   
   <!-- BEGIN SIDEBAR MENU -->  
  <p class="menu-title">NAVEGAÇÃO</p>
    <ul>  
      <li class="start active "> <a href="index.html"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> <span class="badge badge-important pull-right">5</span></a> </li>
    <li class=""> <a href="minha-conta.html"> <i class="icon-user"></i> <span class="title">Minha Conta</span></a> </li> 
      <li class=""> <a href="javascript:;"> <i class="icon-tags"></i> <span class="title">Minhas Tags</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
      <li > <a href="comprar-tag.html"> Comprar Tag &nbsp;&nbsp;<span class="label label-warning" style="color: black;">SUCCESSO</span> </a> </li>
      <li > <a href="ativar-tag.html"> Ativar Tag </a> </li>
      <li > <a href="historico.html">Histórico de Compras</a> </li>
        </ul>
      </li>
    <li class=""> <a href="javascript:;"> <i class="icon-heart"></i> <span class="title">Meus Peludos</span> <span class="arrow "></span> </a>
        <ul class="sub-menu">
          <li > <a href="listar-pets.html">Ver Meus Pets</a> </li>
          <li > <a href="cadastrar-pet.html">Cadastrar Pet</a> </li>
        </ul>
      </li>
    <li class="hidden-desktop hidden-phone visible-tablet" id="more-widgets" style="display:" > <a href="javascript:;"> <i class="icon-ellipsis-horizontal"></i></a> 
    <ul class="sub-menu">
        <div class="side-bar-widgets">
        <p class="menu-title">LINK ÚTEIS </p>
        <div class="status-widget">
          <div class="status-widget-wrapper">
            <div class="title"><a href="#">FAQ</a></div>
            <p>Perguntas mais frequentes</p>
          </div>
        </div>
        <div class="status-widget">
          <div class="status-widget-wrapper">
            <div class="title"><a href="#">Fale Conosco</a></div>
            <p>Central de Atendimento</p>
          </div>
        </div>
      </div>
    </ul>
    </li>    
    </ul>
    <div class="side-bar-widgets">
  <p class="menu-title">LINK ÚTEIS </p>
  <div class="status-widget">
    <div class="status-widget-wrapper">
      <div class="title"><a href="#">FAQ</a></div>
      <p>Perguntas mais frequentes</p>
    </div>
  </div>
  <div class="status-widget">
    <div class="status-widget-wrapper">
      <div class="title"><a href="#">Fale Conosco</a></div>
      <p>Central de Atendimento</p>
    </div>
  </div>
</div>
  <a href="#" class="scrollup">Scroll</a>
  <div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
   <div class="footer-widget">    
  <div class="progress transparent progress-success progress-small no-radius no-margin">
    <div data-percentage="79%" class="bar animate-progress-bar" ></div>   
  </div>
  <div class="pull-right">
    <div class="details-status">
    <span data-animation-duration="560" data-value="86" class="animate-number"></span>%
  </div>  
  <a href="login.html"><i class="icon-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 